<section>
	<h3 id="clients">Clients</h3>

	<div class="client-controls">
		<div class="client-control-next"></div>
		<div class="client-control-prev"></div>
	</div>

	<div class="clients-belt">
		<div class="client-unit">
			<div class="client-face">
				<img src="assets/img/clients/face-aaroni.jpg" alt="client-face">
				<strong class="client-name">Scott Summers</strong>
				<em class="client-title">Director of Design, Quebec International</em>
			</div>
			<div class="client-content">
				<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Maecenas imperdiet venenatis sodales. Nunc elementum scelerisque nibh, nec pellentesque lacus hendrerit sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras luctus euismod augue, vitae pulvinar est feugiat vitae. Nunc ultricies facilisis mi sed commodo. Aliquam erat volutpat. Etiam id libero nunc.</p>

			</div>
		</div>

	</div>

	<div class="clients-logos">
		<div class="client-logo active-client"></div>
		<div class="client-logo"></div>
		<div class="client-logo"></div>
		<div class="client-logo"></div>
	</div>

</section>